@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    color: #FFF;
    background-color: #121212;
}

.slider {
    width: 100%;
    min-height: 80vh;
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: hidden;
}

.slider-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1, h2, p {
    color: white;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 40px;
}

p {
    font-size: 1.5rem;
    line-height: 1.5em;
}

.section {
    padding: 60px 0;
}

.boxed {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}

.flex {
    display: flex;
}

.dark {
    background-color: black;
}

.w40 {
    width: 40%;
}

.w60 {
    width: 60%;
}

.w25 {
    width: 25%;
}

.w32 {
    width: 32%;
}

.space-between {
    justify-content: space-between;
}

.gap20 {
    gap: 20px;
}

.wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.skill {
    background: #FFF;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.skill img {
    width: 100px;
    height: 100px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.skill h3 {
    color: black;
    margin-top: 10px;
}

.realisation {
    height: auto;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
}

.realisation h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
}

.realisation a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.realisation img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
    transition: filter 0.4s ease; 
}

.realisation:hover img {
    filter: brightness(60%); 
}

.icon {
    display: block;
    margin: 0 auto;
    font-size: 40px;
}

.label {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 1.5rem;
    color: white;
}

.value {
    display: block;
    color: white;
    font-size: 1.5rem;
}
